header {
        text-align: center;
        font-size: 2.0em;
        border: 3px dotted black;
       font-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
    }

a{
	font-color; black;
}
a.white{
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}

.gist {
    font-size: 14px;
}
 nav{
            text-align: center;
            height: 45px;
            background-color: #980000;
            font-size: 1.5em;
           border: 2px;
            margin-bottom: 15px;
            margin-top: 15px;
            padding: 7px 7px 7px 7px;
           font-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;
        } 
 
div.missionstatement
{
margin-left: 12.5%;
    width: 75%;
	 font-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;
	 font-size: 1.0em;
	 text-align: center;
	 border-bottom: 15px;

}

div.blogpost
{
    margin-left: 20.0%;
    width: 60%;
    font-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    text-align: left;
    border-bottom: 15px;

}

#question
{
     margin-left: 20.0%;
     width: 60%;
     font-family: Courier, serif;
     font-size: 1.2em;
     text-align: center;
     border-bottom: 15px;

}

#bigletter
{
    font-size: 1.4em;
    font-family: Times;
}

img
{
    text-align: center;
}
a:hover{
 	font-style: italic;
 	color: black;
 }     



        div.portfolio1 {
        	text-align: center;
            height: 225px;
           margin: 10px 10px 10px 10px;

        }

        div.portfolio2 {
            text-align: center;
            height: 380px;
           margin: 10px 10px 10px 10px;

        }


        div
        { 
        	display: block
        }

        

div.week1{
	margin-left: 40px;
display: inline block;
height: 325px;
width: 325px;
float: left;
}


div.week2{
display: inline block;
height: 325px;
width: 325px;
float: left;
}


div.week3{
display: inline block;
height: 325px;
width: 325px;
float: left;

}

div.footer{
color: black;
margin-top: 50px;
text-align: center;
    border: 3px dotted black;
    font-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;

}

p.blogpost{
font-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;  
    font-size: 16px;
}


p{
font-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;	
	font-size: 15px;
}

h1{
ont-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;	
	font-color: blue;
	font-size: 20px;
}

h2.blogheading{
    font-family: "Harriet Text", Georgia, Times, "Times New Roman", serif;		
	background-color: beige;
	font-size: 22px;
    margin-left: 20%;
    width: 60%;
    text-align: center;
}