#wrap {
width:750px;
margin:0 auto;
background:#FFFFFF;
position: relative;
}

#header { 
color: black;
font-family: Arial, sans-serif;
font-size:20px;
height: 50px;
width: 810px;
text-align: center;

}

h1 {
margin:0;
}

#nav {
padding:5px 10px;
background:#FFF;
}

#main {
float:left;
width:800px;
padding:10px;
border-top: 15px solid #ff0000;
  border-bottom: 10px dotted #000000;
  border-right: 10px dotted #000000;
  border-left:10px dotted #000000;
  margin-bottom: 25px;
  color: black;
  font-family: Arial, monospace;
  font-size:15px;
}

/*Setting position to fixed and margin-left will keep sidebar scrolling on page */
#sidebar {
float:right;
position: fixed;
width:100px;
padding:40px;
margin-top: 0px;
margin-left:870px;
border-top: 15px solid #ff0000;
border-bottom: 5px solid #000000;
border-right: 5px solid #000000;
border-left:5px solid #000000;
font-family: Arial, monospace;
font-size:15px;
}

#footer {
clear:both;
padding:5px 10px;
text-align:center;
color: black;
font-family: Arial, sans-serif;
font-size:12px;
height: 10px;
border-top: 10px solid #ff0000;
text-align: center;
width: 1050px;
}

#footer p {
margin:0;
}

#nav ul {
margin:0;
padding:0;
list-style:none;
}

#nav li {
display:inline;
margin:0;
padding:0;
}

#sidebar ul {
list-style-type:none;
}

a:link {
    color: black
}
a:visited {
color: blue
}
a:hover {
font-weight: bold
}
a:active {
font-style: italic
}
.topnavlink {
clear: left; margin-left: 1em; font-size: 1.1em
}
.sidenavlink {
font-size: 1em
}
.footer {
clear: left;
margin-top: 50px;
}


.images {
	text-align: center;
}

.images img {
	width: 370px;
	height: 340px;
}

.images div{
	width: 370px;
	text-align: center;
}

.images div span{
	display: block;
}

.margin_right {
	margin-right: 50px;
}

#center{
	text-align: center;
}

.float {
	float: left;
}

.clear{
	clear: both;
	height: 0;
	width: 0;
}
.red
{
	color: red;
  font-family: Courier, monospace;
  font-style: italic;
}

.blue
{
	color: blue;
  font-family: Courier, monospace;
}